In [7]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 6.9MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [8]:
!pip install neptune-client

Requirement already satisfied: neptune-client in /usr/local/lib/python3.7/dist-packages (0.9.9)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (1.15.0)
Requirement already satisfied: PyJWT in /usr/local/lib/python3.7/dist-packages (from neptune-client) (2.1.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (2.23.0)
Requirement already satisfied: future>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (0.18.2)
Requirement already satisfied: GitPython>=2.0.8 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (3.1.17)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from neptune-client) (20.9)
Requirement already satisfied: bravado in /usr/local/lib/python3.7/dist-packages (from neptune-client) (11.0.3)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (8.0.0)
Requirement already satisfied: Pillow>=1.1.6 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (7.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (1.24.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from neptune-client) (1.1.5)
Requirement already satisfied: oauthlib>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (3.1.0)
Requirement already satisfied: requests-oauthlib>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (1.3.0)
Requirement already satisfied: websocket-client>=0.35.0 in /usr/local/lib/python3.7/dist-packages (from neptune-client) (0.59.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->neptune-client) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->neptune-client) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->neptune-client) (2020.12.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from GitPython>=2.0.8->neptune-client) (4.0.7)
Requirement already satisfied: typing-extensions>=3.7.4.0; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from GitPython>=2.0.8->neptune-client) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->neptune-client) (2.4.7)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (3.13)
Requirement already satisfied: monotonic in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (1.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (2.8.1)
Requirement already satisfied: msgpack in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (1.0.2)
Requirement already satisfied: simplejson in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (3.17.2)
Requirement already satisfied: bravado-core>=5.16.1 in /usr/local/lib/python3.7/dist-packages (from bravado->neptune-client) (5.17.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->neptune-client) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->neptune-client) (1.19.5)
Requirement already satisfied: smmap<5,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->GitPython>=2.0.8->neptune-client) (4.0.0)
Requirement already satisfied: jsonref in /usr/local/lib/python3.7/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (0.2)
Requirement already satisfied: swagger-spec-validator>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.7.3)
Requirement already satisfied: jsonschema[format]>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from bravado-core>=5.16.1->bravado->neptune-client) (2.6.0)
Requirement already satisfied: rfc3987; extra == "format" in /usr/local/lib/python3.7/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.3.8)
Requirement already satisfied: webcolors; extra == "format" in /usr/local/lib/python3.7/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (1.11.1)
Requirement already satisfied: strict-rfc3339; extra == "format" in /usr/local/lib/python3.7/dist-packages (from jsonschema[format]>=2.5.1->bravado-core>=5.16.1->bravado->neptune-client) (0.7)

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

import six
import sys
sys.modules['sklearn.externals.six'] = six

from imblearn.combine import SMOTETomek
from datetime import datetime
from sklearn.compose import ColumnTransformer

from sklearn.metrics import classification_report, make_scorer, f1_score, precision_score, recall_score, accuracy_score, roc_curve, roc_auc_score
from sklearn.model_selection import cross_val_score, KFold

from time import time
import scipy.stats as stats
from sklearn.utils.fixes import loguniform
from scipy.stats import uniform
import matplotlib.pyplot as plt

from hyperopt import fmin, tpe, hp, STATUS_OK, Trials

import xgboost as xgb

from sklearn.model_selection import train_test_split

from sklearn.metrics import plot_confusion_matrix

In [10]:
import neptune

API_TOKEN='eyJhcGlfYWRkcmVzcyI6Imh0dHBzOi8vdWkubmVwdHVuZS5haSIsImFwaV91cmwiOiJodHRwczovL3VpLm5lcHR1bmUuYWkiLCJhcGlfa2V5IjoiYmM4OTBkYTAtY2JlYi00MGM4LWIzZTUtYzg1MTJkMzJkYjk3In0=' #@param {type:"string"}

PROJEKT_NAME = 'DataWorkshop-Foundation/Predicting-cancellation-of-visit' 

neptune.init(
   api_token=API_TOKEN,
   project_qualified_name=PROJEKT_NAME
)

Project(DataWorkshop-Foundation/Predicting-cancellation-of-visit)

In [11]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Cancellation/data/KaggleV2-May-2016.csv')
dataset

           PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
0       2.987250e+13        5642903      F  ...       0            0       No
1       5.589978e+14        5642503      M  ...       0            0       No
2       4.262962e+12        5642549      F  ...       0            0       No
3       8.679512e+11        5642828      F  ...       0            0       No
4       8.841186e+12        5642494      F  ...       0            0       No
...              ...            ...    ...  ...     ...          ...      ...
110522  2.572134e+12        5651768      F  ...       0            1       No
110523  3.596266e+12        5650093      F  ...       0            1       No
110524  1.557663e+13        5630692      F  ...       0            1       No
110525  9.213493e+13        5630323      F  ...       0            1       No
110526  3.775115e+14        5629448      F  ...       0            1       No

[110527 rows x 14 columns]

In [12]:
#patientID
dataset['PatientId'] = dataset['PatientId'].astype('int64') 

#AppointmentID
dataset['AppointmentID'] = dataset['AppointmentID'].astype('int64') 
dataset.drop(dataset[dataset['AppointmentID'].isna()].index, inplace = True)

#gender
dataset['Gender'] = dataset['Gender'].map({'F':1, 'M':0})

#neiberhood

import category_encoders as ce

encoder = ce.OneHotEncoder(cols=['Neighbourhood'])
dataset = encoder.fit_transform(dataset)

#Age

dataset = dataset[dataset['Age'] >=0]

#no-show
dataset['No-show'] = dataset['No-show'].map({'Yes':1, 'No':0})

# #date
dataset['ScheduledDay'] = dataset['ScheduledDay'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%SZ'))


dataset['AppointmentDay'] = dataset['AppointmentDay'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%SZ'))

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
dataset

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
0        29872499824296        5642903       1  ...       0            0        0
1       558997776694438        5642503       0  ...       0            0        0
2         4262962299951        5642549       1  ...       0            0        0
3          867951213174        5642828       1  ...       0            0        0
4         8841186448183        5642494       1  ...       0            0        0
...                 ...            ...     ...  ...     ...          ...      ...
110522    2572134369293        5651768       1  ...       0            1        0
110523    3596266328735        5650093       1  ...       0            1        0
110524   15576631729893        5630692       1  ...       0            1        0
110525   92134931435557        5630323       1  ...       0            1        0
110526  377511518121127        5629448       1  ...       0            1        0

[110526 rows x 94 columns]

In [13]:
uniquePatientID = dataset['PatientId'].unique()
uniquePatientID

array([ 29872499824296, 558997776694438,   4262962299951, ...,
        72633149253362, 996997666245785,  15576631729893])

In [14]:
round(len(uniquePatientID)*0.1)

6230

In [15]:
round(len(uniquePatientID)*0.4)

24919

In [16]:
validationID = uniquePatientID[0:round(len(uniquePatientID)*0.1)]
len(validationID)

6230

In [17]:
validation = dataset.loc[dataset['PatientId'].isin(validationID)]
validation

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
0        29872499824296        5642903       1  ...       0            0        0
1       558997776694438        5642503       0  ...       0            0        0
2         4262962299951        5642549       1  ...       0            0        0
3          867951213174        5642828       1  ...       0            0        0
4         8841186448183        5642494       1  ...       0            0        0
...                 ...            ...     ...  ...     ...          ...      ...
110499  821969177626116        5757697       1  ...       0            0        0
110500  443438443334614        5787233       1  ...       0            0        0
110505   56673438855979        5758455       1  ...       0            0        0
110519   65423877893936        5630447       1  ...       0            1        0
110523    3596266328735        5650093       1  ...       0            1        0

[17113 rows x 94 columns]

In [18]:
validation[validation['No-show']==1]

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
6       733688164476661        5630279       1  ...       0            0        1
7         3449833394123        5630575       1  ...       0            0        1
11        7542951368435        5620163       0  ...       0            1        1
17       14794966191172        5633460       1  ...       0            0        1
20      622257462899397        5626083       1  ...       0            0        1
...                 ...            ...     ...  ...     ...          ...      ...
110442   71679471592828        5703900       0  ...       0            1        1
110449  291145987362399        5749879       1  ...       0            1        1
110469  832256398961987        5656075       1  ...       0            1        1
110470    4125932768366        5692391       1  ...       0            1        1
110496   85442954737999        5779046       1  ...       0            0        1

[3352 rows x 94 columns]

In [19]:
validation[validation['No-show']==0]

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
0        29872499824296        5642903       1  ...       0            0        0
1       558997776694438        5642503       0  ...       0            0        0
2         4262962299951        5642549       1  ...       0            0        0
3          867951213174        5642828       1  ...       0            0        0
4         8841186448183        5642494       1  ...       0            0        0
...                 ...            ...     ...  ...     ...          ...      ...
110499  821969177626116        5757697       1  ...       0            0        0
110500  443438443334614        5787233       1  ...       0            0        0
110505   56673438855979        5758455       1  ...       0            0        0
110519   65423877893936        5630447       1  ...       0            1        0
110523    3596266328735        5650093       1  ...       0            1        0

[13761 rows x 94 columns]

In [20]:
validation[validation['No-show']==1].shape[0]/validation[validation['No-show']==0].shape[0]

0.24358694862291985

In [21]:
testID = uniquePatientID[round(len(uniquePatientID)*0.1):]
len(testID)

56068

In [22]:
testID

array([293397656722629,   2691555495224,   9981638424867, ...,
        72633149253362, 996997666245785,  15576631729893])

In [23]:
test = dataset.loc[dataset['PatientId'].isin(testID)]
test

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
7278    293397656722629        5645167       0  ...       0            1        1
7280      2691555495224        5596589       0  ...       0            0        0
7283      9981638424867        5554863       1  ...       0            1        0
7286    667141493898633        5576959       1  ...       0            0        1
7287    216693861728386        5493935       0  ...       0            0        0
...                 ...            ...     ...  ...     ...          ...      ...
110521   36355337746436        5651072       1  ...       0            1        0
110522    2572134369293        5651768       1  ...       0            1        0
110524   15576631729893        5630692       1  ...       0            1        0
110525   92134931435557        5630323       1  ...       0            1        0
110526  377511518121127        5629448       1  ...       0            1        0

[93413 rows x 94 columns]

In [24]:
test[test['No-show']==1].shape[0]/test[test['No-show']==0].shape[0]

0.2547752733524971

In [25]:
trainID = uniquePatientID[round(len(uniquePatientID)*0.4):]
len(trainID)

37379

In [26]:
train = dataset.loc[dataset['PatientId'].isin(trainID)]
train

              PatientId  AppointmentID  Gender  ... Handcap SMS_received  No-show
36775    79663627249177        5683597       1  ...       0            0        0
36776   718169788381286        5683814       0  ...       0            0        0
36777     3139218535988        5711485       1  ...       0            0        0
36779   117342186564746        5415492       1  ...       0            1        0
36780       54139872518        5599591       1  ...       0            1        0
...                 ...            ...     ...  ...     ...          ...      ...
110521   36355337746436        5651072       1  ...       0            1        0
110522    2572134369293        5651768       1  ...       0            1        0
110524   15576631729893        5630692       1  ...       0            1        0
110525   92134931435557        5630323       1  ...       0            1        0
110526  377511518121127        5629448       1  ...       0            1        0

[55292 rows x 94 columns]

In [27]:
train[train['No-show']==1].shape[0]/train[train['No-show']==0].shape[0]

0.2472536148519095

In [28]:
validation.loc[validation['PatientId'].isin(train)]

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood_1, Neighbourhood_2, Neighbourhood_3, Neighbourhood_4, Neighbourhood_5, Neighbourhood_6, Neighbourhood_7, Neighbourhood_8, Neighbourhood_9, Neighbourhood_10, Neighbourhood_11, Neighbourhood_12, Neighbourhood_13, Neighbourhood_14, Neighbourhood_15, Neighbourhood_16, Neighbourhood_17, Neighbourhood_18, Neighbourhood_19, Neighbourhood_20, Neighbourhood_21, Neighbourhood_22, Neighbourhood_23, Neighbourhood_24, Neighbourhood_25, Neighbourhood_26, Neighbourhood_27, Neighbourhood_28, Neighbourhood_29, Neighbourhood_30, Neighbourhood_31, Neighbourhood_32, Neighbourhood_33, Neighbourhood_34, Neighbourhood_35, Neighbourhood_36, Neighbourhood_37, Neighbourhood_38, Neighbourhood_39, Neighbourhood_40, Neighbourhood_41, Neighbourhood_42, Neighbourhood_43, Neighbourhood_44, Neighbourhood_45, Neighbourhood_46, Neighbourhood_47, Neighbourhood_48, Neighbourhood_49, Neighbourhood_50, Neighbourhood_51, Neighbourhood_52, Neighbourhood_53, Neighbourhood_54, Neighbourhood_55, Neighbourhood_56, Neighbourhood_57, Neighbourhood_58, Neighbourhood_59, Neighbourhood_60, Neighbourhood_61, Neighbourhood_62, Neighbourhood_63, Neighbourhood_64, Neighbourhood_65, Neighbourhood_66, Neighbourhood_67, Neighbourhood_68, Neighbourhood_69, Neighbourhood_70, Neighbourhood_71, Neighbourhood_72, Neighbourhood_73, Neighbourhood_74, Neighbourhood_75, Neighbourhood_76, Neighbourhood_77, Neighbourhood_78, Neighbourhood_79, Neighbourhood_80, Neighbourhood_81, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

[0 rows x 94 columns]

In [29]:
validation.loc[validation['PatientId'].isin(test)]

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood_1, Neighbourhood_2, Neighbourhood_3, Neighbourhood_4, Neighbourhood_5, Neighbourhood_6, Neighbourhood_7, Neighbourhood_8, Neighbourhood_9, Neighbourhood_10, Neighbourhood_11, Neighbourhood_12, Neighbourhood_13, Neighbourhood_14, Neighbourhood_15, Neighbourhood_16, Neighbourhood_17, Neighbourhood_18, Neighbourhood_19, Neighbourhood_20, Neighbourhood_21, Neighbourhood_22, Neighbourhood_23, Neighbourhood_24, Neighbourhood_25, Neighbourhood_26, Neighbourhood_27, Neighbourhood_28, Neighbourhood_29, Neighbourhood_30, Neighbourhood_31, Neighbourhood_32, Neighbourhood_33, Neighbourhood_34, Neighbourhood_35, Neighbourhood_36, Neighbourhood_37, Neighbourhood_38, Neighbourhood_39, Neighbourhood_40, Neighbourhood_41, Neighbourhood_42, Neighbourhood_43, Neighbourhood_44, Neighbourhood_45, Neighbourhood_46, Neighbourhood_47, Neighbourhood_48, Neighbourhood_49, Neighbourhood_50, Neighbourhood_51, Neighbourhood_52, Neighbourhood_53, Neighbourhood_54, Neighbourhood_55, Neighbourhood_56, Neighbourhood_57, Neighbourhood_58, Neighbourhood_59, Neighbourhood_60, Neighbourhood_61, Neighbourhood_62, Neighbourhood_63, Neighbourhood_64, Neighbourhood_65, Neighbourhood_66, Neighbourhood_67, Neighbourhood_68, Neighbourhood_69, Neighbourhood_70, Neighbourhood_71, Neighbourhood_72, Neighbourhood_73, Neighbourhood_74, Neighbourhood_75, Neighbourhood_76, Neighbourhood_77, Neighbourhood_78, Neighbourhood_79, Neighbourhood_80, Neighbourhood_81, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

[0 rows x 94 columns]

In [30]:
train.loc[train['PatientId'].isin(test)]

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood_1, Neighbourhood_2, Neighbourhood_3, Neighbourhood_4, Neighbourhood_5, Neighbourhood_6, Neighbourhood_7, Neighbourhood_8, Neighbourhood_9, Neighbourhood_10, Neighbourhood_11, Neighbourhood_12, Neighbourhood_13, Neighbourhood_14, Neighbourhood_15, Neighbourhood_16, Neighbourhood_17, Neighbourhood_18, Neighbourhood_19, Neighbourhood_20, Neighbourhood_21, Neighbourhood_22, Neighbourhood_23, Neighbourhood_24, Neighbourhood_25, Neighbourhood_26, Neighbourhood_27, Neighbourhood_28, Neighbourhood_29, Neighbourhood_30, Neighbourhood_31, Neighbourhood_32, Neighbourhood_33, Neighbourhood_34, Neighbourhood_35, Neighbourhood_36, Neighbourhood_37, Neighbourhood_38, Neighbourhood_39, Neighbourhood_40, Neighbourhood_41, Neighbourhood_42, Neighbourhood_43, Neighbourhood_44, Neighbourhood_45, Neighbourhood_46, Neighbourhood_47, Neighbourhood_48, Neighbourhood_49, Neighbourhood_50, Neighbourhood_51, Neighbourhood_52, Neighbourhood_53, Neighbourhood_54, Neighbourhood_55, Neighbourhood_56, Neighbourhood_57, Neighbourhood_58, Neighbourhood_59, Neighbourhood_60, Neighbourhood_61, Neighbourhood_62, Neighbourhood_63, Neighbourhood_64, Neighbourhood_65, Neighbourhood_66, Neighbourhood_67, Neighbourhood_68, Neighbourhood_69, Neighbourhood_70, Neighbourhood_71, Neighbourhood_72, Neighbourhood_73, Neighbourhood_74, Neighbourhood_75, Neighbourhood_76, Neighbourhood_77, Neighbourhood_78, Neighbourhood_79, Neighbourhood_80, Neighbourhood_81, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

[0 rows x 94 columns]

In [31]:
def train_model(model, X, y):
    model.fit(X, y)
    return model

def predict_model(model, X):
    y_pred = model.predict(X)
    return y_pred

def score_model(y_test, y_pred, scoring):
    score = scoring(y_test, y_pred)
    return score

def train_and_predict(model, X, y, scoring):
    scores = cross_val_score(model, X, y, cv = 7, scoring = scoring)
    return np.mean(scores), np.std(scores)

In [32]:
def run_model(model,data, id, val, name, tags):
    testID = uniquePatientID[:round(len(data)*0.3)]
    test = data.loc[data['PatientId'].isin(testID)]
    print(test)
    trainID = uniquePatientID[round(len(data)*0.3)+1:]
    train = data.loc[data['PatientId'].isin(trainID)]
    print(train)

    X_train = train.loc[:, train.columns != 'No-show']
    y_train = train["No-show"]

    X_test = test.loc[:, test.columns != 'No-show']
    y_test = test["No-show"]

    X_val = val.loc[:, val.columns != 'No-show']
    y_val = val["No-show"]

    neptune.create_experiment(
        name=name
    )
    
    model = train_model(model, X_train, y_train)
    y_pred = predict_model(model, X_test)
    val_pred = predict_model(model, X_val)
    
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    roc = roc_auc_score(y_test, y_pred)
    print("Test")
    print(y_pred,'\n')
    print('accuracy: ', accuracy)
    print('recall: ',recall)
    print('precision: ', precision)
    print('f1: ', f1)
    print('ROC AUC: ', roc,'\n')
    print(classification_report(y_test, y_pred))

    neptune.log_metric('accuracy', accuracy)
    neptune.log_metric('recall', recall)
    neptune.log_metric('precision', precision)
    neptune.log_metric('f1', f1)
    neptune.log_metric('roc_auc', roc)
    neptune.append_tags(tags)
    neptune.append_tags(name)
    neptune.append_tags(["Magdalena Cebula"])
    
    plot_confusion_matrix(model, X_test, y_test, cmap='Blues');    
    plt.show()
    neptune.stop()

    neptune.create_experiment(
      name=name
    )

    accuracy_val = accuracy_score(y_val, val_pred)
    recall_val = recall_score(y_val, val_pred)
    precision_val = precision_score(y_val, val_pred)
    f1_val = f1_score(y_val, val_pred)
    roc_val = roc_auc_score(y_val, val_pred)

    print("Validation")
    print(val_pred,'\n')
    print('accuracy: ', accuracy_val)
    print('recall: ',recall_val)
    print('precision: ', precision_val)
    print('f1: ', f1_val)
    print('ROC AUC: ', roc_val,'\n')
    print(classification_report(y_val, val_pred))
    
    neptune.log_metric('accuracy', accuracy_val)
    neptune.log_metric('recall', recall_val)
    neptune.log_metric('precision', precision_val)
    neptune.log_metric('f1', f1_val)
    neptune.log_metric('roc_auc', roc_val)
    neptune.append_tags(tags)
    neptune.append_tags(name)
    neptune.append_tags("Validation")
    neptune.append_tags(["Magdalena Cebula"])
    
    plot_confusion_matrix(model, X_val, y_val, cmap='Blues');    
    plt.show()
#    plot_learning_curve(model, X_val, y_val, scoring='f1');    
    plt.show()
    neptune.stop()

In [33]:
clf =  xgb.XGBClassifier(random_state=0)

In [34]:
clf

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [35]:
def fromTimeStamp(dataset, column):
  return  dataset[column].apply(lambda x: datetime.fromtimestamp(x))

In [36]:
def allDatasetFromTimestamp():
  train['ScheduledDay'] =  fromTimeStamp(train, 'ScheduledDay')
  train['AppointmentDay'] =  fromTimeStamp(train, 'AppointmentDay')

  test['ScheduledDay'] =  fromTimeStamp(test, 'ScheduledDay')
  test['AppointmentDay'] =  fromTimeStamp(test, 'AppointmentDay')

  validation['ScheduledDay'] =  fromTimeStamp(validation, 'ScheduledDay')
  validation['AppointmentDay'] =  fromTimeStamp(validation, 'AppointmentDay')

In [37]:
def waitingTimeDays(data):
  temp = data['AppointmentDay'] - data['ScheduledDay'] 
  return temp.dt.days+1

In [38]:
train['Waiting_Time_days'] = waitingTimeDays(train) 
train = train[train['Waiting_Time_days'] >=-1]

test['Waiting_Time_days'] = waitingTimeDays(test)
test = test[test['Waiting_Time_days'] >=-1]

validation['Waiting_Time_days'] = waitingTimeDays(validation)
validation = validation[validation['Waiting_Time_days'] >=-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [39]:
def dayOfWeek(dataset, column):
  return dataset[column].dt.dayofweek

In [40]:
def allDatasetOfWeek():
  train['ScheduledWeekday'] = dayOfWeek(train, 'ScheduledDay' )
  train['AppointmentWeekday'] = dayOfWeek(train, 'AppointmentDay')

  test['ScheduledWeekday'] = dayOfWeek(test, 'ScheduledDay' )
  test['AppointmentWeekday'] = dayOfWeek(test, 'AppointmentDay')

  validation['ScheduledWeekday'] = dayOfWeek(validation, 'ScheduledDay' )
  validation['AppointmentWeekday'] = dayOfWeek(validation, 'AppointmentDay')

In [41]:
def hour(dataset, column):
  return dataset[column].dt.hour

In [42]:
def allHour():
  train['ScheduledHour'] = hour(train, 'ScheduledDay')
  test['ScheduledHour'] = hour(test, 'ScheduledDay')
  validation['ScheduledHour'] = hour(validation, 'ScheduledDay')

In [43]:
def scheduledDayInYear(dataset, column):
  return dataset[column].apply(lambda x: x.timetuple().tm_yday)

In [44]:
def allScheduledDayInYear():
  train['ScheduledDay_in_year']=scheduledDayInYear(train, 'ScheduledDay')
  train['AppointmentDay_in_year']=scheduledDayInYear(train, 'AppointmentDay')

  test['ScheduledDay_in_year']=scheduledDayInYear(test, 'ScheduledDay')
  test['AppointmentDay_in_year']=scheduledDayInYear(test, 'AppointmentDay')
  
  validation['ScheduledDay_in_year']=scheduledDayInYear(validation, 'ScheduledDay')
  validation['AppointmentDay_in_year']=scheduledDayInYear(validation, 'AppointmentDay')

In [45]:
def featuresFromDate():
  allHour()
  allScheduledDayInYear()

In [46]:
featuresFromDate()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
train

              PatientId  ...  AppointmentDay_in_year
36775    79663627249177  ...                     137
36776   718169788381286  ...                     139
36777     3139218535988  ...                     146
36779   117342186564746  ...                     125
36780       54139872518  ...                     125
...                 ...  ...                     ...
110521   36355337746436  ...                     159
110522    2572134369293  ...                     159
110524   15576631729893  ...                     159
110525   92134931435557  ...                     159
110526  377511518121127  ...                     159

[55291 rows x 98 columns]

In [57]:
train.drop('recentNo-show', inplace = True, axis = 1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [60]:
test.drop(['cumSum','recentNo-show'], inplace = True, axis = 1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [62]:
validation.drop(['cumSum','recentNo-show'], inplace = True, axis = 1)

In [63]:
validation

              PatientId  ...  AppointmentDay_in_year
0        29872499824296  ...                     120
1       558997776694438  ...                     120
2         4262962299951  ...                     120
3          867951213174  ...                     120
4         8841186448183  ...                     120
...                 ...  ...                     ...
110499  821969177626116  ...                     153
110500  443438443334614  ...                     160
110505   56673438855979  ...                     153
110519   65423877893936  ...                     159
110523    3596266328735  ...                     159

[17113 rows x 98 columns]

In [68]:
train.to_csv(r'/content/drive/MyDrive/Colab Notebooks/Cancellation/data/EDA2/train.csv')

In [67]:
test.to_csv(r'/content/drive/MyDrive/Colab Notebooks/Cancellation/data/EDA2/test.csv')

In [69]:
validation.to_csv(r'/content/drive/MyDrive/Colab Notebooks/Cancellation/data/EDA2/validation.csv')