In [ ]:
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTE, ADASYN 
from collections import Counter

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.model_selection import train_test_split

from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import ADASYN

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/noshow_processed_data_v2_Janek.csv', index_col = 'Unnamed: 0')
dataset.head()

         PatientId  Gender  ...  AppointmentWeekDay_2  AppointmentWeekDay_3
0   29872499824296       0  ...                     0                     1
1  558997776694438       1  ...                     0                     1
2    4262962299951       0  ...                     0                     1
3     867951213174       0  ...                     0                     1
4    8841186448183       0  ...                     0                     1

[5 rows x 43 columns]

In [ ]:
Y = dataset["NoShow"]
Y.tail()

110522    0
110523    0
110524    0
110525    0
110526    0
Name: NoShow, dtype: int64

In [ ]:
X = dataset.loc[:, dataset.columns != 'NoShow']
X.tail()

              PatientId  Gender  ...  AppointmentWeekDay_2  AppointmentWeekDay_3
110522    2572134369293       0  ...                     1                     0
110523    3596266328735       0  ...                     1                     0
110524   15576631729893       0  ...                     1                     0
110525   92134931435557       0  ...                     1                     0
110526  377511518121127       0  ...                     1                     0

[5 rows x 42 columns]

In [ ]:
x, x_val, y, y_val = train_test_split(X, Y, test_size=0.1, train_size=0.9, random_state=0, stratify=Y, shuffle=True)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.22, train_size =0.78, random_state=0, stratify=y, shuffle=True)

In [ ]:
y_train.count()

77585

In [ ]:
y_val.count()

11053

In [ ]:
y_test.count()

21883

In [ ]:
y_test.sum()/y_test.count()*100

20.189187954119635

In [ ]:
y_train.sum()/y_train.count()*100

20.189469613971774

In [ ]:
y_val.sum()/y_val.count()*100

20.19361259386592

In [ ]:
Y.sum()/Y.count()*100

20.18982817745044

In [ ]:
Train = pd.DataFrame(data = x_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
print(Train)

Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Train_raw.csv', index=False)

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
78930    4652519881919       0  ...                     0       0
80030   81431485833737       0  ...                     1       0
551    555956674526286       0  ...                     1       0
45657   14559326134688       0  ...                     0       0
59639   16796474433112       0  ...                     1       1
...                ...     ...  ...                   ...     ...
64339   26668558575619       0  ...                     1       0
96864    2816822173583       1  ...                     0       0
48638   73183431329311       0  ...                     1       1
32565  235675555558284       0  ...                     1       0
16475    8651174169145       1  ...                     1       0

[77585 rows x 43 columns]

In [ ]:
Test = pd.DataFrame(data = x_test, columns = X.columns)
YTest = pd.DataFrame(data = y_test, columns = ["NoShow"])
Test["NoShow"] = YTest
print(Test)

Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Test_raw.csv', index=False)

              PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
65375      836957433187       0  ...                     1       1
77334      791415392462       0  ...                     1       0
84905     4131646379876       0  ...                     0       1
27176   821632976221113       0  ...                     1       1
75824     1686466913279       1  ...                     1       0
...                 ...     ...  ...                   ...     ...
31850        7961764434       1  ...                     0       1
90199     3786826583299       0  ...                     0       0
91015    75372794393368       0  ...                     0       0
104265  917618488292539       0  ...                     1       0
91419    59834422265359       0  ...                     1       0

[21883 rows x 43 columns]

In [ ]:
Val = pd.DataFrame(data = x_val, columns = X.columns)
YVal = pd.DataFrame(data = y_val, columns = ["NoShow"])
Val["NoShow"] = YVal
Val

Val.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Validation.csv', index=False)

In [ ]:
Val

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
80329        342478778       1  ...                     0       1
38486   19715663351925       0  ...                     1       0
85903  919292581644233       1  ...                     1       0
77153   95687334995341       0  ...                     1       0
51008   38863974611654       1  ...                     1       0
...                ...     ...  ...                   ...     ...
21263    5955176526376       1  ...                     0       0
59647  796386324155451       1  ...                     1       0
18299      59689766796       0  ...                     1       0
90437    1994573567149       0  ...                     1       0
62636    1347154834816       0  ...                     1       0

[11053 rows x 43 columns]

random under sampling

In [ ]:
rus = RandomUnderSampler(random_state=0)
X_rus_train, y_rus_train = rus.fit_sample(x_train, y_train)

Train = pd.DataFrame(data = X_rus_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_rus_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
Train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0        4769881125996       0  ...                     1       0
1      148312813919574       0  ...                     1       0
2         335818172687       0  ...                     1       0
3          57125156348       0  ...                     1       0
4      835153492579146       0  ...                     0       0
...                ...     ...  ...                   ...     ...
31323   44479758197116       0  ...                     0       1
31324   12572862521296       0  ...                     0       1
31325    4882383731912       1  ...                     1       1
31326    6683989423988       0  ...                     0       1
31327   73183431329311       0  ...                     1       1

[31328 rows x 43 columns]

In [ ]:
 Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/RUS_train.csv', index=False)

In [ ]:
X_rus_test, y_rus_test = rus.fit_sample(x_test, y_test)

Test = pd.DataFrame(data = X_rus_test, columns = X.columns)
YTest = pd.DataFrame(data = y_rus_test, columns = ["NoShow"])
Test["NoShow"] = YTest
Test

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

           PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0      8877135249678       1  ...                     1       0
1     25678266126176       1  ...                     1       0
2     76899944946889       1  ...                     1       0
3       986258158224       1  ...                     0       0
4      6196873426729       1  ...                     0       0
...              ...     ...  ...                   ...     ...
8831  21247642959925       1  ...                     1       1
8832    431246497512       0  ...                     0       1
8833   3619492944851       0  ...                     0       1
8834   9911689645331       1  ...                     0       1
8835      7961764434       1  ...                     0       1

[8836 rows x 43 columns]

In [ ]:
 Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/RUS_test.csv', index=False)

random over sampling

In [ ]:
ros = RandomOverSampler(random_state=0)
X_ros_train, y_ros_train = ros.fit_sample(x_train, y_train)

Train = pd.DataFrame(data = X_ros_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_ros_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
Train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

              PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0         4652519881919       0  ...                     0       0
1        81431485833737       0  ...                     1       0
2       555956674526286       0  ...                     1       0
3        14559326134688       0  ...                     0       0
4        16796474433112       0  ...                     1       1
...                 ...     ...  ...                   ...     ...
123837     564614589133       1  ...                     0       1
123838    9293885373128       1  ...                     1       1
123839  537338997913484       1  ...                     1       1
123840  249385661723661       1  ...                     0       1
123841      15738322515       0  ...                     1       1

[123842 rows x 43 columns]

In [ ]:
 Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/ROS_train.csv', index=False)

In [ ]:
X_ros_test, y_ros_test = ros.fit_sample(x_test, y_test)

Test = pd.DataFrame(data = X_ros_test, columns = X.columns)
YTest = pd.DataFrame(data = y_ros_test, columns = ["NoShow"])
Test["NoShow"] = YTest
Test

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0         836957433187       0  ...                     1       1
1         791415392462       0  ...                     1       0
2        4131646379876       0  ...                     0       1
3      821632976221113       0  ...                     1       1
4        1686466913279       1  ...                     1       0
...                ...     ...  ...                   ...     ...
34925   74237339655369       0  ...                     0       1
34926   27234661855792       0  ...                     0       1
34927  538672613692457       0  ...                     0       1
34928     361243988999       0  ...                     1       1
34929   41734928742669       0  ...                     0       1

[34930 rows x 43 columns]

In [ ]:
Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/ROS_test.csv', index=False)

SMOTE&Tomek

In [ ]:
smote_tomek = SMOTETomek(random_state=0)
X_smotetomek_train, y_smotetomek_train = smote_tomek.fit_sample(x_train, y_train)

Train = pd.DataFrame(data = X_smotetomek_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_smotetomek_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
Train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

              PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0         4652519881919       0  ...                     0       0
1        81431485833737       0  ...                     1       0
2       555956674526286       0  ...                     1       0
3        14559326134688       0  ...                     0       0
4        16796474433112       0  ...                     1       1
...                 ...     ...  ...                   ...     ...
101427   56121550758353       0  ...                     0       1
101428   22839580495980       0  ...                     0       1
101429    9938853656361       0  ...                     1       1
101430      33748544793       0  ...                     0       1
101431   65751443779385       1  ...                     1       1

[101432 rows x 43 columns]

In [ ]:
Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/SMOTETomek_train.csv', index=False)

In [ ]:
X_smotetomek_test, y_smotetomek_test = smote_tomek.fit_sample(x_test, y_test)

Test = pd.DataFrame(data = X_smotetomek_test, columns = X.columns)
YTest = pd.DataFrame(data = y_smotetomek_test, columns = ["NoShow"])
Test["NoShow"] = YTest
Test

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

            PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0        836957433187       0  ...                     1       1
1        791415392462       0  ...                     1       0
2       4131646379876       0  ...                     0       1
3        177539637866       0  ...                     0       0
4      98133997919611       0  ...                     1       0
...               ...     ...  ...                   ...     ...
27027  68361450832143       0  ...                     0       1
27028  68873133932320       0  ...                     0       1
27029    269836150504       0  ...                     0       1
27030  15690876699112       0  ...                     0       1
27031  21956395509080       0  ...                     1       1

[27032 rows x 43 columns]

In [ ]:
Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/SMOTETomek_test.csv', index=False)

NearMiss

In [ ]:
nm = NearMiss(random_state=0)
X_nearmiss_train, y_nearmiss_train = nm.fit_sample(x_train, y_train)

Train = pd.DataFrame(data = X_nearmiss_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_nearmiss_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
Train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0      249163747571517       1  ...                     0       0
1       81362187668124       1  ...                     0       0
2         248383689323       0  ...                     1       0
3        9995994929266       1  ...                     1       0
4       46784193141591       1  ...                     1       0
...                ...     ...  ...                   ...     ...
31323   44479758197116       0  ...                     0       1
31324   12572862521296       0  ...                     0       1
31325    4882383731912       1  ...                     1       1
31326    6683989423988       0  ...                     0       1
31327   73183431329311       0  ...                     1       1

[31328 rows x 43 columns]

In [ ]:
Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Nearmiss_train.csv', index=False)

In [ ]:
X_nearmiss_test, y_nearmiss_test = nm.fit_sample(x_test, y_test)

Test = pd.DataFrame(data = X_nearmiss_test, columns = X.columns)
YTest = pd.DataFrame(data = y_nearmiss_test, columns = ["NoShow"])
Test["NoShow"] = YTest
Test

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

            PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0      71324887598719       1  ...                     0       0
1      71324887598719       1  ...                     1       0
2      21914133845636       0  ...                     1       0
3     416755661551767       1  ...                     0       0
4     416755661551767       1  ...                     1       0
...               ...     ...  ...                   ...     ...
8831   21247642959925       1  ...                     1       1
8832     431246497512       0  ...                     0       1
8833    3619492944851       0  ...                     0       1
8834    9911689645331       1  ...                     0       1
8835       7961764434       1  ...                     0       1

[8836 rows x 43 columns]

In [ ]:
Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Nearmiss_test.csv', index=False)

Adasyn

In [ ]:
ada = ADASYN(random_state=0)
X_ada_train, y_ada_train = ada.fit_sample(x_train, y_train)

Train = pd.DataFrame(data = X_ada_train, columns = X.columns)
YTrain = pd.DataFrame(data = y_ada_train, columns = ["NoShow"])
Train["NoShow"] = YTrain
Train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

              PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0         4652519881919       0  ...                     0       0
1        81431485833737       0  ...                     1       0
2       555956674526286       0  ...                     1       0
3        14559326134688       0  ...                     0       0
4        16796474433112       0  ...                     1       1
...                 ...     ...  ...                   ...     ...
123376    6680919539143       0  ...                     0       1
123377    6680376921495       0  ...                     0       1
123378   73177214384489       0  ...                     0       1
123379   73171502411669       0  ...                     0       1
123380   73171165054092       0  ...                     0       1

[123381 rows x 43 columns]

In [ ]:
Train.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Adasyn_train.csv', index=False)

In [ ]:
X_ada_test, y_ada_test = ada.fit_sample(x_test, y_test)

Test = pd.DataFrame(data = X_ada_test, columns = X.columns)
YTest = pd.DataFrame(data = y_ada_test, columns = ["NoShow"])
Test["NoShow"] = YTest
Test

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

             PatientId  Gender  ...  AppointmentWeekDay_3  NoShow
0         836957433187       0  ...                     1       1
1         791415392462       0  ...                     1       0
2        4131646379876       0  ...                     0       1
3      821632976221113       0  ...                     1       1
4        1686466913279       1  ...                     1       0
...                ...     ...  ...                   ...     ...
34932    9914257885563       0  ...                     0       1
34933       7412751011       1  ...                     0       1
34934       7634912434       1  ...                     0       1
34935       7969706677       0  ...                     0       1
34936       7767895267       1  ...                     0       1

[34937 rows x 43 columns]

In [ ]:
Test.to_csv('/content/drive/My Drive/Colab Notebooks/Cancellation/data/datasets/Adasyn_test.csv', index=False)