<h1 align="center">DataWorkshop Foundation | Warsaw Team | Project: No-shows</h1>
<h2 align="center">Notebook 001: Data cleaning</h2>

Cleaning and processing data to create baseline data file.

Raw data source: [Kaggle Dataset](https://www.kaggle.com/joniarroba/noshowappointments)

Author: [Jan Tarasiewicz](https://github.com/JBalcony)

## Table of contents

1. [Data overwiew](#Data-overview)
2. [Data processing](#Data-processing)
<br>2.1 [PatientId](#PatientId)
<br>2.2 [AppointmentID](#AppointmentID)
<br>2.3 [Gender](#Gender)
<br>2.4 [BookingDate](#BookingDate)
<br>2.5 [AppointmentDate](#AppointmentDate)
<br>2.6 [Age](#Age)
<br>2.7 [Neighbourhood](#Neighbourhood)
<br>2.8 [Scholarship](#Scholarship)
<br>2.9 [Hypertension](#Hypertension)
<br>2.10 [Diabetes](#Diabetes)
<br>2.11 [Alcoholism](#Alcoholism)
<br>2.12 [Handicap](#Handicap)
<br>2.13 [SMSReceived](#SMSReceived)
<br>2.14 [NoShow](#NoShow)
<br>2.15 [YearBookingDate](#YearBookingDate)
<br>2.16 [MonthBookingDate](#MonthBookingDate)
<br>2.17 [DayBookingDate](#DayBookingDate)
<br>2.18 [YearAppointmentDate](#YearAppointmentDate)
<br>2.19 [MonthAppointmentDate](#MonthAppointmentDate)
<br>2.20 [DayAppointmentDate](#DayAppointmentDate)
<br>2.21 [HourOfDayBooking](#HourOfDayBooking)
<br>2.22 [DaysToAppointment](#DaysToAppointment)
<br>2.23 [AppointmentWeekDay](#AppointmentWeekDay)
<br>2.24 [Removing redundant columns](#Removing-redundant-columns)
3. [Final DataFrame view](Final-DataFrame-view)
4. [Saving output](#Saving-output)

---
## Data overview
[Table of contents](#Table-of-contents)

Basic data info.

In [29]:
## Importing Libraries
import numpy as np
import pandas as pd

In [30]:
# Reading data from hair_salon_no_show_wrangled_df.csv file
df = pd.read_csv("Medical_Data/KaggleV2-May-2016.csv")
df.sample(5)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
94898,9.862672e+10,5734873,F,2016-05-24T16:20:16Z,2016-06-02T00:00:00Z,49,GURIGICA,0,0,0,0,0,1,No
31064,3.146154e+13,5632319,M,2016-04-28T07:52:35Z,2016-05-10T00:00:00Z,49,BENTO FERREIRA,0,0,0,0,0,1,No
45146,8.361971e+14,5673802,F,2016-05-09T09:52:58Z,2016-05-09T00:00:00Z,3,BELA VISTA,0,0,0,0,0,0,No
41288,2.615966e+11,5530957,F,2016-03-31T08:57:11Z,2016-05-13T00:00:00Z,86,JOANA D´ARC,0,1,0,0,0,0,No
72718,1.286299e+13,5659717,F,2016-05-04T14:35:05Z,2016-05-11T00:00:00Z,75,DO QUADRO,0,0,0,0,0,0,No

In [33]:
# Basic info about data frame 
# Number of observations, number of null values and data type of column
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [4]:
# Checking the number of unique values in each column
for i in df.columns:
    print(i,len(df[i].value_counts()))

PatientId 62299
AppointmentID 110527
Gender 2
ScheduledDay 103549
AppointmentDay 27
Age 104
Neighbourhood 81
Scholarship 2
Hipertension 2
Diabetes 2
Alcoholism 2
Handcap 5
SMS_received 2
No-show 2

In [5]:
# Examining all columns for their value ranges, quantities and irregularities 
for c in df.columns:
    print ("\n\n---- %s ---\n" % c)
    print (df[c].value_counts())

---- PatientId ---

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
                ..
1.222828e+13     1
6.821231e+11     1
7.163981e+14     1
9.798964e+14     1
2.724571e+11     1
Name: PatientId, Length: 62299, dtype: int64


---- AppointmentID ---

5769215    1
5731652    1
5707080    1
5702986    1
5715276    1
          ..
5586290    1
5584243    1
5598584    1
5602682    1
5771266    1
Name: AppointmentID, Length: 110527, dtype: int64


---- Gender ---

F    71840
M    38687
Name: Gender, dtype: int64


---- ScheduledDay ---

2016-05-06T07:09:54Z    24
2016-05-06T07:09:53Z    23
2016-04-25T17:17:46Z    22
2016-04-25T17:18:27Z    22
2016-04-25T17:17:23Z    19
                        ..
2016-05-10T08:52:00Z     1
2016-05-09T10:11:46Z     1
2016-04-08T09:30:48Z     1
2016-05-12T15:33:14Z     1
2016-05-16T11:11:39Z     1
Name: ScheduledDay, Length: 103549, dtype: int64


---- AppointmentDay ---

2016-06-06T00:00:00Z    4692
2016-05-16T00:00:00Z    4613
2016-05-09T00:00:00Z    4520
2016-05-30T00:00:00Z    4514
2016-06-08T00:00:00Z    4479
2016-05-11T00:00:00Z    4474
2016-06-01T00:00:00Z    4464
2016-06-07T00:00:00Z    4416
2016-05-12T00:00:00Z    4394
2016-05-02T00:00:00Z    4376
2016-05-18T00:00:00Z    4373
2016-05-17T00:00:00Z    4372
2016-06-02T00:00:00Z    4310
2016-05-10T00:00:00Z    4308
2016-05-31T00:00:00Z    4279
2016-05-05T00:00:00Z    4273
2016-05-19T00:00:00Z    4270
2016-05-03T00:00:00Z    4256
2016-05-04T00:00:00Z    4168
2016-06-03T00:00:00Z    4090
2016-05-24T00:00:00Z    4009
2016-05-13T00:00:00Z    3987
2016-05-25T00:00:00Z    3909
2016-05-06T00:00:00Z    3879
2016-05-20T00:00:00Z    3828
2016-04-29T00:00:00Z    3235
2016-05-14T00:00:00Z      39
Name: AppointmentDay, dtype: int64


---- Age ---

 0      3539
 1      2273
 52     1746
 49     1652
 53     1651
        ...
 115       5
 100       4
 102       2
 99        1
-1         1
Name: Age, Length: 104, dtype: int64


---- Neighbourhood ---

JARDIM CAMBURI                 7717
MARIA ORTIZ                    5805
RESISTÊNCIA                    4431
JARDIM DA PENHA                3877
ITARARÉ                        3514
                               ...
ILHA DO BOI                      35
ILHA DO FRADE                    10
AEROPORTO                         8
ILHAS OCEÂNICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: Neighbourhood, Length: 81, dtype: int64


---- Scholarship ---

0    99666
1    10861
Name: Scholarship, dtype: int64


---- Hipertension ---

0    88726
1    21801
Name: Hipertension, dtype: int64


---- Diabetes ---

0    102584
1      7943
Name: Diabetes, dtype: int64


---- Alcoholism ---

0    107167
1      3360
Name: Alcoholism, dtype: int64


---- Handcap ---

0    108286
1      2042
2       183
3        13
4         3
Name: Handcap, dtype: int64


---- SMS_received ---

0    75045
1    35482
Name: SMS_received, dtype: int64


---- No-show ---

No     88208
Yes    22319
Name: No-show, dtype: int64

---
## Data processing
[Table of contents](#Table-of-contents)

Cleaning and processing data to be fit for modelling.

|#| Final Column Name |Default Column Name| Default data type | Final Data type | Description | Changes |
| :-: | :-: | :-: | :-: | :-: | :- | :- |
|1| [PatientId](#PatientId) | PatientId | float64 | object | 62298 unique values| Data type changed to object (string)|
|2| [AppointmentID](#AppointmentID) | AppointmentID | int64 | -  | All values are unique | __Removed__ |
|3| [Gender](#Gender) | Gender| object | int64 | Binary category | Converted to 0/1 int64 |
|4| [BookingDate](#BookingDate) | ScheduledDay | object | - | Booking date in string |  __Removed__. Renamed to BookingDate. Converted to 3 int64 columns with year/day/month.|
|5| [AppointmentDate](#AppointmentDate) | AppointmentDay | object | - | Date in string | __Removed__. Renamed to AppointmentDate. Converted to 3 int64 columns with year/day/month
|6| [Age](#Age) | Age | float64 | int64 | 103 unique values | Data type changed to int64. Removed negative values |
|7| [Neighbourhood](#Neighbourhood) | Neighbourhood | object | int64 | 81 unique values| Data type changed to int64 |
|8| [Scholarship](#Scholarship) | Scholarship | int64 | int64 | Binary category | - |
|9| [Hypertension](#Hipertension) | Hypertension | int64 | int64 | Binary category | Renamed to Hypertension |
|10| [Diabetes](#Diabetes) | Diabetes | int64 | int64 | Binary category | - |
|11| [Alcoholism](#Alcoholism) | Alcoholism | int64 | int64 |Binary category | - |
|12| [Handicap](#Handicap) | Handcap| int64 | int64 | 5 unique values | Renamed to Handicap |
|13| [SMSReceived](#SMSReceived) | SMS_received | int64 | int64 |Binary category | Renamed to SMSReceived |
|14| [NoShow](#NoShow) | No-show | object | int64 | Binary category | Converted to 0/1 int64. Renamed to NoShow |
|15| [YearBookingDate](#YearBookingDate) | - | -| int64 | Booking year | __New Column__ from BookingDate |
|16| [MonthBookingDate](#MonthBookingDate) | - | - | int64 | Booking month | __New Column__ from BookingDate |
|17| [DayBookingDate](#DayBookingDate) | - | - | int64 | Booking day of month | __New Column__ from BookingDate |
|18| [YearAppointmentDate](#YearAppointmentDate) | - | - | int64 | Appointment year | __New Column__ from AppointmentDate |
|19| [MonthAppointmentDate](#MonthAppointmentDate) | - | - | int64 | Appointment month | __New Column__ from AppointmentDate |
|20| [DayAppointmentDate](#DayAppointmentDate) | - | - | int64 | Appointment day of month | __New Column__ from AppointmentDate |
|21| [HourOfDayBooking](#HourOfDayBooking) | - | - | int64 | Booking hour of day| __New Column__ from BookingDate |
|22| [DaysToAppointment](#DaysToAppointment) | - | - | int64 | Days from booking to appointment | __New Column__ from AppointmentDate - BookingDate, 5 negative records removed |
|23| [AppointmentWeekDay](#AppointmentWeekDay) | - | - | int64 | Appointment day of week| __New Column__ from AppointmentDay |

### PatientId

In [6]:
df['PatientId'] = df['PatientId'].astype('int64') 
df['PatientId'] = df['PatientId'].astype('str')

### AppointmentID

In [7]:
df.drop(['AppointmentID'], axis=1, inplace=True)

### Gender

In [8]:
df['Gender'] = df['Gender'].factorize()[0]

### BookingDate

In [9]:
df.rename(columns = {'ScheduledDay': 'BookingDate',}, inplace = True)
df['BookingDate'] = pd.to_datetime(df['BookingDate']).dt.date.astype('datetime64[ns]')

### AppointmentDate

In [10]:
df.rename(columns = {'AppointmentDay' : 'AppointmentDate'}, inplace = True)
df['AppointmentDate'] = pd.to_datetime(df['AppointmentDate']).dt.date.astype('datetime64[ns]')

### Age

In [11]:
df.drop(df[df['Age'] < 0].index, inplace = True)

### Neighbourhood

In [12]:
df['Neighbourhood'] = df['Neighbourhood'].factorize()[0]

### Hypertension

In [13]:
df.rename(columns = {'Hipertension': 'Hypertension'},inplace = True)

### Handicap

In [14]:
df.rename(columns = {'Handcap': 'Handicap'}, inplace = True)

### SMSReceived

In [15]:
df.rename(columns = {'SMS_received': 'SMSReceived'}, inplace = True)

### NoShow

In [16]:
df.rename(columns = {'No-show': 'NoShow'}, inplace = True)
df['NoShow'] = df['NoShow'].map({'Yes':1, 'No':0})

### YearBookingDate

In [17]:
df['YearBookingDate'] = df['BookingDate'].dt.year

### MonthBookingDate

In [18]:
df['MonthBookingDate'] = df['BookingDate'].dt.month

### DayBookingDate

In [19]:
df['DayBookingDate'] = df['BookingDate'].dt.day

### YearAppointmentDate

In [20]:
df['YearAppointmentDate'] = df['AppointmentDate'].dt.year

### MonthAppointmentDate

In [21]:
df['MonthAppointmentDate'] = df['AppointmentDate'].dt.month

### DayAppointmentDate

In [22]:
df['DayAppointmentDate'] = df['AppointmentDate'].dt.day

### HourOfDayBooking

In [23]:
# Date  format in string:: 2016-04-29T18:38:08Z

def calculateHour(ts):
    ts = str(ts)
    h = int(ts[11:13])
    m = int(ts[14:16])
    s = int(ts[17:19])
    return round(h + m/60 + s/3600)

df['HourOfDayBooking'] = df['BookingDate'].apply(calculateHour)

### DaysToAppointment

In [24]:
df['DaysToAppointment'] = df.AppointmentDate - df.BookingDate
df['DaysToAppointment'] = df['DaysToAppointment'].apply(lambda x: x.total_seconds() / (3600 * 24))
df['DaysToAppointment'] = df['DaysToAppointment'].astype('int64')
df.drop(df[df['DaysToAppointment'] < 0].index, inplace = True)

### AppointmentWeekDay

In [25]:
df['AppointmentWeekDay'] = df['AppointmentDate'].dt.dayofweek

### Removing redundant columns

In [26]:
df.drop(['BookingDate','AppointmentDate'], axis=1, inplace=True)

---
### Final DataFrame view

In [27]:
df

,PatientId,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,YearBookingDate,MonthBookingDate,DayBookingDate,YearAppointmentDate,MonthAppointmentDate,DayAppointmentDate,HourOfDayBooking,DaysToAppointment,AppointmentWeekDay
0,29872499824296,0,62,0,0,1,0,0,0,0,0,2016,4,29,2016,4,29,0,0,4
1,558997776694438,1,56,0,0,0,0,0,0,0,0,2016,4,29,2016,4,29,0,0,4
2,4262962299951,0,62,1,0,0,0,0,0,0,0,2016,4,29,2016,4,29,0,0,4
3,867951213174,0,8,2,0,0,0,0,0,0,0,2016,4,29,2016,4,29,0,0,4
4,8841186448183,0,56,0,0,1,1,0,0,0,0,2016,4,29,2016,4,29,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293,0,56,22,0,0,0,0,0,1,0,2016,5,3,2016,6,7,0,35,1
110523,3596266328735,0,51,22,0,0,0,0,0,1,0,2016,5,3,2016,6,7,0,35,1
110524,15576631729893,0,21,22,0,0,0,0,0,1,0,2016,4,27,2016,6,7,0,41,1
110525,92134931435557,0,38,22,0,0,0,0,0,1,0,2016,4,27,2016,6,7,0,41,1
110526,377511518121127,0,54,22,0,0,0,0,0,1,0,2016,4,27,2016,6,7,0,41,1

---
## Saving output
[Table of contents](#Table-of-contents)

In [28]:
df.to_csv('noshow_processed_data.csv')